# Pandas
- 데이터의 한행(row)가 시리즈이고 시리즈가 모이면 데이터프레임이 된다.
- 시리즈만들기

In [5]:
import pandas as pd
a = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

# 데이터프레임 만들기
pd.DataFrame으로 데이트 프레임을 만들수 있다.
딕셔너리를 넣어주면 된다
index= 를 추가할수도 있고
columns= 로 컬럼의 위치를 바꿀수도 있다.

In [3]:
import pandas as pd
df = pd.DataFrame({
    'name': ['kim', 'lee', 'park'],
    'sex': ['M', 'F', 'M'],
    'age': [20, 30, 40],
},index=['a', 'b', 'c'],columns=['name','age','sex'])
df

   name  age sex
a   kim   20   M
b   lee   30   F
c  park   40   M

In [35]:
import pandas as pd
import random

a = pd.Series(random.sample(range(1, 100), 10)) 
b = pd.Series(random.sample(range(1, 100), 10)) 
# print(a,a+b[a+b  < 100])
print(f'info\n{a.info()}\n head\n{a.head()}\n tail\n{a.tail()}')

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes
info
None
 head
0    72
1    41
2    16
3    27
4    74
dtype: int64
 tail
5    28
6     2
7    70
8    61
9    31
dtype: int64

In [36]:
a.shape

(10,)